.contacts-footer li:not(:last-child) {
    margin-bottom: 9px;

&__link {
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    color: $transparent6-white;
    font-style: normal;
}
}