.section {
    padding: 94px 0px;
    margin: 0 auto;
}

.section--what-we-do {
    text-align: center;
    padding-top: 0;
}

.section__our-team {
    text-align: center;
    background-color: $light-grey;
}